{% extends "BlockCypherAppCommonInfrastructureLayoutBundle::base.html.twig" %}

{% block title %}Addresses - Wallet {{ wallet_id }}{% endblock title %}

{% block page_header %}
    <h1>
        <i class="fa fa-qrcode"></i>
        Addresses
    </h1>

    <h2 class="tagline wrapit semi">
        Addresses in wallet {{ wallet_id }}
    </h2>
{% endblock page_header %}

{% block content %}
    <div class="container">

        {% include "BlockCypherAppWalletInfrastructureAppWalletBundle:Modules:top_menu.html.twig" %}

        <div class="section">
            <div class="col-md-12">
                {% include "BlockCypherAppWalletInfrastructureAppWalletBundle:Modules:balance.html.twig" %}
            </div>
        </div>

        <div class="col-md-12">
            {% include "BlockCypherAppWalletInfrastructureAppWalletBundle:Modules:notifications.html.twig" %}
        </div>

        {% if addresses %}

            <div class="col-md-12">

                <h2>
                    {{ num_all_addresses|intcomma }} Addresses
                </h2>

                {% if max_pages > 1 %}
                    <div class="section pager">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                {% if current_page > 1 %}
                                    <a href="?page={{ current_page|add(-1)|intcomma }}" class="btn btn-default">
                                        <i class="fa fa-angle-double-left"></i>
                                        Previous Page
                                    </a>
                                {% endif %}
                            </div>

                            <div class="col-sm-4 text-center">
                                Page of
                            </div>

                            <div class="col-sm-4 text-right">
                                {% if current_page < max_pages %}
                                    <a href="?page={{ current_page|add(1)|intcomma }}" class="btn btn-default">
                                        Next Page
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                {% endif %}

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Tag</th>
                            <th>Final Balance</th>
                            <th>Txs</th>
                            <th>Address</th>
                            <th>Creation Time</th>
                            <th>API</th>
                            <th>EXP</th>
                        </tr>
                        {% for address in addresses %}
                            <tr class="tx-row" id="{{ address.address }}">
                                <td class="truncate">{{ address.tag }}</td>
                                <td class="">{{ address.finalBalance }}</td>
                                <td class="">{{ address.nTx }}</td>
                                <td class="truncate">
                                    {% if address.address %}
                                        <a href="TODO LINK TO ADDRESS"
                                           class="hidden-xs tx-list small">
                                            {{ address.address }}
                                        </a>
                                        <a href="TODO LINK TO ADDRESS"
                                           class="visible-xs">
                                            View Address
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <time class="timeago"
                                          datetime="{{ address.creationTime|date('Y-m-d\TH:i:s') }}Z">
                                        {{ address.creationTime|date('Y-m-d H:i') }} GMT
                                    </time>
                                </td>
                                <td><a target="_blank" href="{{ address.apiUrl }}"><i
                                                class="fa fa-external-link"></i></a></td>
                                <td><a target="_blank" href="{{ address.explorerUrl }}"><i
                                                class="fa fa-external-link"></i></a></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>

                {% if max_pages > 1 %}
                    <div class="section pager">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                {% if current_page > 1 %}
                                    <a href="?page={{ current_page|add(-1)|intcomma }}" class="btn btn-default">
                                        <i class="fa fa-angle-double-left"></i>
                                        Previous Page
                                    </a>
                                {% endif %}
                            </div>

                            <div class="col-sm-4 text-center">
                                Page of
                            </div>

                            <div class="col-sm-4 text-right">
                                {% if current_page < max_pages %}
                                    <a href="?page={{ current_page|add(1)|intcomma }}" class="btn btn-default">
                                        Next Page
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                {% endif %}

            </div>

        {% else %}
            <p>No addresses detected.</p>
        {% endif %}

    </div>

{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}