{% extends "BlockCypherAppCommonInfrastructureLayoutBundle::base.html.twig" %}

{% block title %}Addresses{% endblock title %}

{% block page_header %}
    <h1>
        <i class="fa fa-qrcode"></i>
        Create New Address
    </h1>

    <h2 class="tagline wrapit semi">
    </h2>
{% endblock page_header %}

{% block content %}
    <div class="container">

        <div class="section">
            <div class="col-md-12">
                <p class="text-center">
                    <a href="{{ path('bc_app_wallet_address.index', { 'walletId': wallet_id }) }}"
                       class="btn btn-lg btn-default">
                        <i class="fa fa-reply"></i>
                        Addresses
                    </a>
                    <a href="{{ path('bc_app_wallet_wallet.index') }}"
                       class="btn btn-lg btn-default">
                        <i class="fa fa-reply"></i>
                        Wallets
                    </a>
                </p>
            </div>
        </div>

        <div class="section">
        </div>

        <div class="col-md-12">

            <h2></h2>

            <div class="form-well">

                {{ form_start(address_form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(address_form) }}
                <div class="form-group">
                    <label for="walletId" class="col-sm-2 control-label">Wallet</label>
                    {# <input type="text" class="form-control" id="walletId" placeholder="Select wallet"> #}
                    <div class="col-sm-10">
                        {{ form_widget(address_form.walletId, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="tag" class="col-sm-2 control-label">Address Tag</label>
                    {# <input type="text" class="form-control" id="tag" placeholder="Enter an wallet name"> #}
                    <div class="col-sm-10">
                        {{ form_widget(address_form.tag, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="callbackUrl" class="col-sm-2 control-label">Callback url</label>
                    {# <input type="text" class="form-control" id="callbackUrl" placeholder="Enter a callback url"> #}
                    <div class="col-sm-10">
                        {{ form_widget(address_form.callbackUrl, {'attr': {'class': 'form-control'}}) }}
                        <p class="help-block">We will POST this url for each address transaction (not implemented
                            yet).</p>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Create Address</button>
                    <p class="help-block">
                        <small>This action uses this BlockCypher API endpoint:<a
                                    href="http://dev.blockcypher.com/#wallet_api">/v1/{coinSymbol}/{chain}/wallets/{name}/addresses/generate</a>
                        </small>
                    </p>
                </div>
                {{ form_end(address_form) }}

            </div>

        </div>
    </div>

{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}